@keyframes desplazamiento-izquierda {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes desplazamiento-derecha {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes aparecer-suave {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #caae92;
    color: #333;
    background-image: url('https://www.transparenttextures.com/patterns/light-paper-fibers.png');
}


header {
    color: white;
    height: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.6);
}

header::before,
header::after {
    content: '';
    position: absolute;
    left: 0;
    width: 200%;
    height: 50%;
    background-size: 16.66% 100%;
    z-index: -1;
}

header::before {
    top: 0;
    background-image: url('https://bialetti.pe/wp-content/uploads/2019/03/cafe-expreso.jpg'),
        url('https://images.pexels.com/photos/302899/pexels-photo-302899.jpeg'),
        url('https://images.pexels.com/photos/4109744/pexels-photo-4109744.jpeg'),
        url('https://images.pexels.com/photos/1727123/pexels-photo-1727123.jpeg'),
        url('https://images.pexels.com/photos/312418/pexels-photo-312418.jpeg'),
        url('https://images.pexels.com/photos/585753/pexels-photo-585753.jpeg');
    animation: desplazamiento-izquierda 40s linear infinite;
}

header::after {
    top: 50%;
    background-image: url('https://images.pexels.com/photos/585753/pexels-photo-585753.jpeg'),
        url('https://images.pexels.com/photos/2074122/pexels-photo-2074122.jpeg'),
        url('https://images.pexels.com/photos/3718635/pexels-photo-3718635.jpeg'),
        url('https://images.pexels.com/photos/302896/pexels-photo-302896.jpeg'),
        url('https://img.freepik.com/fotos-premium/granos-cafe-siendo-procesados-maquina-tostar_1048944-1907653.jpg'),
        url('https://www.maersk.com/~/media_sc9/maersk/insights/integrated-logistics/2025/09/journey-of-the-bean_1024x576.jpg');
    animation: desplazamiento-derecha 40s linear infinite;
}

header h1 {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    font-size: 3em;
    font-weight: bold;
    z-index: 1;
    margin: 0;
}

header .subtitulo {
    font-size: 1.5em;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.6);
    z-index: 1;
    margin-top: 10px;
}

.contenedor-pagina {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    
}

aside {
    width: 280px;
    padding: 20px;
    margin: 20px;
    background-color: rgba(250, 240, 230, 0.9);
    border-radius: 12px;
    height: fit-content;
    position: sticky;
    top: 20px;
}

aside h3 {
    color: #8b4513;
    border-bottom: 2px solid #eaddc7;
    margin-top: 0;
    padding-bottom: 5px;
}

aside nav ul {
    list-style: none;
    padding: 0;
}

aside nav a {
    text-decoration: none;
    color: #4b3832;
    padding: 10px;
    border-radius: 8px;
    display: block;
    transition: 0.3s;
}

aside nav a:hover {
    background-color: #f5eadd;
    padding-left: 20px;
}

main {
    flex: 1;
    padding: 20px;
}

section {
    background-color: rgba(250, 240, 230, 0.9);
    padding: 30px;
    margin-bottom: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    animation: aparecer-suave 0.8s ease-out;
}

.contenedor-imagenes {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.contenedor-imagenes img {
    flex: 1;
    min-width: 250px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}
.contenedor-imagenes img:hover {
   transform: translateY(-8px);
   transition: transform 0.3s ease-in-out;
}

.contenedor-bebidas {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.tarjeta-bebida {
    background-color: white;
    width: 260px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s;
}

.tarjeta-bebida:hover {
    transform: translateY(-5px);
}

.tarjeta-bebida img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.tarjeta-bebida h3 {
    color: #5d3515;
    margin: 10px 0;
}

.tarjeta-bebida p {
    font-size: 0.9em;
    line-height: 1.4;
}

footer {
    background-color: #4b3832;
    color: white;
    text-align: center;
    padding: 30px;
}

p a {
    color: #d6ab88;
}


@media (max-width: 900px) {
    .contenedor-pagina {
        flex-direction: column;
    }

    aside {
        width: auto;
        position: relative;
        margin: 10px;
    }
}